#page-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 80%;
}
 
#page-top a {
    display: block;
    background: #666;
    color: #fff;
    width: 60px;
    height: 60px;
    padding: 25px 0;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}
 
#page-top a:hover {
    background: #999;
    text-decoration: none;
}

#inner-page-top{
  position: relative;
  display: inline-block;
  padding-left: 20px;
}

#inner-page-top::before{
  content: '';
  width: 20px;
  height: 20px;
  border: 0px;
  border-top: solid 4px #eee;
  border-right: solid 4px #eee;
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: absolute;
  top: 23%;
  left: 30%;
  margin-top: -4px;
}

#perform-message {
    display: none;
    position: fixed;
    top: 70px;
    right: 30%;
    width: 10rem;
    height: 10rem;
    z-index: 999;
    text-align: center;
    line-height: 9.2rem;
    font-size: 1.1rem;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}