#page-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 80%;
    display: none;
}
 
#page-top a {
    display: block;
    background: #666;
    color: #fff;
    width: 60px;
    height: 60px;
    padding: 25px 0;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}
 
#page-top a:hover {
    background: #999;
    text-decoration: none;
}

#inner-page-top{
  position: relative;
  display: inline-block;
  padding-left: 20px;
}

#inner-page-top::before{
  content: '';
  width: 20px;
  height: 20px;
  border: 0px;
  border-top: solid 4px #eee;
  border-right: solid 4px #eee;
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: absolute;
  top: 25%;
  left: 33.3%;
  margin-top: -4px;
}

/* for performance page */
.l-btn-measure {
    position: relative;
    border-radius: 25%;
    -moz-border-radius: 25%;
    -webkit-border-radius: 25%;
    font-size:1.4rem;
}
.l-btn-measure:before {
    content: "";
    display: block;
    padding-top: 100%;
}

.l-m-color {
    background-image: -webkit-linear-gradient(30deg, #709dff 0%, #91fdb7 100%);    
    background-image: linear-gradient(30deg, #709dff 0%, #91fdde 100%);
}

.l-btn-measure .l-btn-inner {
    position: absolute;
    top:50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform : translate(-50%,-50%);
    transform : translate(-50%,-50%);
    text-align: center;
}

/*  -- performance page message success */
#perform-message {
    display: none;
    position: fixed;
    top: 12%;
    right: 20%;
    width: 18rem;
    height: 18rem;
    z-index: 999;
    text-align: center;
    line-height: 16.5rem;
    font-size: 1.1rem;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}